@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap");

.contacts {
  background-color: #11364e;
  max-height: 1400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text-header {
    padding-top: 140px;
    color: white;
    font-family: "Prompt";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 52px;
  }

  &__input-box {
    padding-bottom: 40px;
  }
}

.input-box {
  &__label {
    color: white;
    font-family: "Prompt";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
  }

  &__input {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(231, 222, 222, 0.745);
    &:focus {
      outline: none;
    }
  }
}

.footer {
  font-family: "Prompt";
  height: 60px;
  background-color: #13253A;
  width: 100%;
  color: #cbc6c6b6;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .main-box {
//   vertical-align: middle;
//   margin-left: 700px;
// }

// .name-box {
//   height: 18px;
//   font-size: 13px;
//   color: white;
//   margin-bottom: 50px;

//   &full_name-box {
//   }

//   &colon_name-box {
//     color: black;
//     mix-blend-mode: normal;
//     opacity: 0.25;
//     padding-top: 10px;
//     opacity: 0.4;
//   }
// }

// .email-box {
//   height: 18px;
//   font-size: 13px;
//   color: white;
//   margin-bottom: 50px;

//   &email_adress-box {
//   }

//   &colon_email-box {
//     padding-top: 10px;
//   }
// }

// .message-box {
//   height: 18px;
//   font-size: 13px;
//   color: white;
//   margin-bottom: 50px;

//   &your_message-box {
//   }

//   &colon_message-box {
//     padding-top: 10px;
//   }
// }
